#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1b4552;
}
.navBar {
  width: 100%;
  height: 50px;
  background-color: #6d80a4;
  border: solid 3px whitesmoke;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLink{
  height: 50px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7e9f7;
  font-size: 22px;
  text-decoration: none;
  margin: 1%;
  transition: linear .5s;
}
.headerLink:hover{
  background-color: #586989;
  color: whitesmoke;
}

/* HOMEPAGE BODY */

.homePageContainer {
  color: #d7e9f7;
  width: 70%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers items horizontally */
  margin: 0 auto; /* Centers the container horizontally within its parent */
}

.openingStatement{
  width: 100%;
  height: 50vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
}
.statementContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.statementContainer li{
  margin: 0.5%;
}
.firstStatement{
  font: bold;
  font-family: 'Times New Roman', Times, serif;
}
/* .homePage {
  width: 100%;
  max-width: 1440px;
  border: 3px solid black;
} */
 .homePageCard--Container{
  display: flex;
  justify-content: center;
 }
 .HomePageCards{
  height: 450px;
  width: 300px;
  background-color: #d7e9f7;
  margin: 1%;
  border: 3px solid #bbcbd7;
  border-radius: 8px;
  color: #1b4552;
 }
 .cardImages{
  width: 290px;
  height: 200px;
  border-radius: 8px;
 }
 .card--Header{
  height: 75px;
  width: inherit;
 }
 .bullet--Container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: inherit;
 }
 .bullet--Container li{
  text-align: left;
  color: #1b4552;
  margin: 2px;
 }
.homePage--left{
  display: grid;
  grid-template-columns: 60% 40%;
  height: 50vh;
  width: 100%;
}
.leftInfo--box{
  grid-column: 1/2;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}
.rightImage--box{
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;

}
.leftImage--box{
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage--right{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 50vh;
  width: 100%;
}
.rightInfo--box{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
.homePage--image{
  height: 250px;
  width: 400px;
  border: 3px solid black;
  border-radius: 16px;
}
.button{
  height: 50px;
  width: 100px;
  border: solid transparent 2px;
  background-color: #d7e9f7;
  border-radius: 12px;
  transition: .50s;
  cursor: pointer;
}
.button:hover{
  background-color: #bbcbd7;
  scale: 1.1;
}
