#root {
  max-width: 2400px;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  min-width: 500px;
}
body{
  background-color: powderblue;
  overflow-x: hidden;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
}
section {
  overflow: hidden;
  height: 100vh;
  width: 100vh;
  scroll-snap-stop: normal;
}
.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(100%);
  transition: all 1s;
  width: 100%;

}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  width: 100%;
}
.mainContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  width: 100%;
  height: 650vh;
  font-family: Arial, Helvetica, sans-serif;
}
.mainContainerMobile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 650vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
/* NAVBAR START  */
.navBar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #6d80a4;
  border-right: 10px solid #b0e0e6;
}
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  position: fixed;
  width: 100%;
}
.navbar{
  position: fixed;
  top: 0;
  left: 1%;
  border-radius: 4px;
  color: #d7e9f7;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
.navbar-toggler{
  color: #586989;
  background-color: #d7e9f7;
}
.nav-item{
  background-color: #d7e9f7;
  border-radius: 4px;
  margin: 1%;
}
.nav-link {
  color: black;
}
.link--container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerLink {
  height: 50px;
  width: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7e9f7;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 1%;
  transition: linear 0.5s;
}
.headerLink:hover {
  background-color: #586989;
  color: whitesmoke;
}
.underLinkBorder {
  min-width: 100px;
  width: 150px;
  height: 1px;
  border: solid transparent;
  border-radius: 4px;
  background-color: powderblue;
}
.icon--container {
  width: inherit;
  /* height: 50px; */
  display: flex;
  justify-content: center;
}
.socialIcon {
  color: #d7e9f7;
  height: 40px;
  width: 40px;
  transition: 0.5s;
}
.socialIcon:hover {
  scale: 1.1;
}
/* NAVBAR END  */

/* LOGO CONTAINER START  */
@media only screen and (max-width: 767px) {
  .referbtn {
    height: 50px;
    width: 100px;
    font-size: 14px;
  }
}
.logo--container {
  position: relative;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:normal;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  border-bottom: powderblue solid 10px;
  background-size: cover;
  z-index: 0;  
}
/* .logo--container p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  font-size: 1.5rem;
} */

.logo-background{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  max-width: 100%;
  width: inherit;
  overflow: hidden;
  background-image: url(/public/images/pexels-yankrukov-4458425.jpg);
  background-size:cover;
  filter: grayscale();
  background-position: center;
  z-index: -1;
  position: relative;
  flex-direction: column;
}
.referbtn{
  position: absolute;
  top: 4%;
  left: 77%;
  border: solid powderblue 3px;
  height: 75px;
  max-height: 100px;
  width: 150px;
  max-width: 150px;
  padding: 10px;
  border-radius: 16px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #586989;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .5s ease-in;
  font-size: 1rem;
  z-index: 1;
}
.referbtn:hover{
  scale: 1.1;
}
.logo {
  height: 1000px;
  width: 1000px;
  overflow: hidden;
  z-index: 1;
}


.statement-overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  font-size: 1.5rem;
  height: 100%;
  width: 90%;
  max-width: 90%;
  max-height: 400px;
  color: whitesmoke;
  font-size: 1.4rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* Your CSS rules for mobile devices go here */
  .statement-overlay {
    font-size: 16px; /* Adjust font size for mobile */
    bottom: 5%; /* Adjust bottom position for mobile */
    /* Any other mobile-specific styles */
  }
}
/* LOGO CONTAINER END  */

/* MISSION CONTAINTER START  */
.missionContainer{
  height: 100vh;
  width: 100%;
  background: url(/public/images/pexels-yankrukov-4458425.jpg);
  background-size: cover;
}
/* MISSION CONTAINTER END  */

/* HOMEPAGE CONTAINER START*/
.homePageContainer {
  grid-column: 2/3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: inherit;
  border-bottom: powderblue solid 10px;
}

.openingStatement {
  font-size: 1.4rem;
  color: black;
  max-width: 80%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.firstLetter {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.statementContainer {
  width: 80%;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}
.statementContainer li {
  margin: 0.5%;
  font-size: 1rem;
  list-style: none;
}
.firstStatement {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.homePageCard--Container {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.HomePageCards {
  height: 500px;
  width: 300px;
  background-color: #d7e9f7;
  margin: 1%;
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  transition: linear 0.5s;
}
.HomePageCards:hover {
  scale: 1.05;
}
.card--Header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  align-items: center;
  height: 125px;
  width: inherit;
}
.card--Header h2 {
  font-size: 22px;
  text-decoration: underline;
}
.card--Header h3 {
  font-style: italic;
  font-size: 1.2rem;
}
.cardImages--Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: inherit;
}
.cardImages {
  width: 100%;
  height: 200px;
}
.bullet--Container {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: inherit;
}
.bullet--Container li {
  text-align: left;
  font: 1rem;
  margin: 2%;
}
.homePage--left {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 50vh;
  width: 100%;
}
.leftInfo--box {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}
.rightImage--box {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftImage--box {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage--right {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 50vh;
  width: 100%;
}
.rightInfo--box {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
.homePage--image {
  height: 250px;
  width: 400px;
  border: 3px solid black;
  border-radius: 16px;
}
.button {
  height: 50px;
  width: 100px;
  border: solid transparent 2px;
  background-color: #d7e9f7;
  border-radius: 12px;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #bbcbd7;
  scale: 1.1;
}
/* HOMEPAGE BODY END*/

/* ABOUTUS PAGE START*/

.aboutUsSmallPage {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  border-bottom: powderblue solid 10px;
  color: black;
  margin: 0 auto;
}
.aboutUs--Header {
  width: 100%;
  margin: 0 auto;
}
.aboutUsSmallPage h1 {
  font-size: 40px;
}
.aboutUsSmallPage p {
  font-size: 1.4rem;
}
.aboutUsCards--Container {
  display: flex;
  min-height: 50vh;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.aboutUsCards {
  border: black solid 3px;
  background-color: #d7e9f7;
  color: black;
  border-radius: 8px;
  max-height: 350px;
  min-height: 300px;
  height: 350px;
  width: 400px;
  max-width: 400px;
  min-width: 350px;
  margin: 1%;
}
/* .aboutUsCards--Header{
  
} */
.aboutUsCard--Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
}
.aboutUsCard--Body p {
  font-size: 1.1rem;
}
.aboutUsCard--Body p {
  font-size: 1rem;
}
.aboutIcons {
  height: 50px;
  width: 50px;
}
/* ABOUTUS PAGE END*/

/* SERVICE PAGE START*/

.servicesSmallPage {
  height: 100vh;
  min-height: 100vh;
  grid-column: 2/3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: powderblue solid 10px;
  margin: 0 auto;
}
.service--Container {
  color: #d7e9f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.servicesHeader {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.servicesHeader h1 {
  font-size: 40px;
}
.servicesHeader p {
  font-size: 1.4rem;
}
.servicesCard--Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1%;
}
.servicesCards {
  border: black solid 3px;
  background-color: #d7e9f7;
  color: black;
  border-radius: 8px;
  height: 520px;
  width: 300px;
  margin: 1%;
}
.servicesCards--Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: inherit;
  border-bottom: #1b4552 solid 3px;
}
.servicesCards--Body {
  height: 370px;
  width: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  list-style-position: inside;
  padding-left: 0; 
  margin: 5px;
}

.servicesCards--Body li {
  font-size: .85rem;
  margin: 1%;
}
/* SERVICE PAGE END*/

/* CONTACT PAGE START*/
input{
  max-width: 150px;
}
textarea{
  max-width: 300PX;
}
.contactPage {
  grid-column: 2/3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
  border-bottom: solid powderblue 10px;
  margin: 0 auto;
}
.contactBox {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topBox{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1%;
}
.leftColumn{
  margin: 1%;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.rightColumn{
  margin: 1%;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.bottomColumn{
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.contactContent {
  height: 25vh;
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: powderblue 3px solid;
  background-color: #6d80a4;
  border-radius: 12px;
}
.contactPage--header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
  height: 200px;
}
.contactPage--header {
  height: 40vh;
}
.contactPage--header h1 {
  font-size: 40px;
}
.contactPage--header p{
  font-size: 1.4rem;
}
.contactBox--Left {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactBox--Right {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactBox--Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1%;
}
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 4%;
  height: 350px;
  max-height: 400px;
  max-width: 600px;
  width: 600px;
}
.contact input {
  height: 25px;
  width: 150px;
  border: solid black 2px;
  border-radius: 4px;
  margin: 1%;
}
.contact textarea {
  border-radius: 4px;
  border: solid black 2px;
  height: 50px;
  width: 300px;
}
.contact button {
  height: 40px;
  width: 100px;
  border: solid black 2px;
  border-radius: 4px;
  background-color: powderblue;
  margin: 1%;
  cursor: pointer;
  transition: .75s linear;
}
.contact button:hover {
  scale: 1.1;
}
/* SERVICE PAGE END*/

/* FOOTER PAGE START */
.footer {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  color: black;
  border-bottom: powderblue solid 10px;
}
.footer p {
  font-size: 18px;
}
.cert--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.cert--container img {
  height: 275px;
  width: 275px;
  margin: 1%;
}
.social-icons a {
  color: #d7e9f7;
  text-decoration: none;
  font-size: 20px;
  margin: 2%;
}
/* FOOTER PAGE END */

/* @media screen and (max-width: 600px) {
  #root {
    max-width: 100%;
  }
  
  .navBar {
    height: 80px; 
    border-right: 4px solid #d7e9f7;
  }

  .logo--container {
    height: 150px;
    width: 100%;
  }

  .homePageContainer {
    height: auto; 
  }

  .homePageCard--Container {
    height: auto; 
  }
  .HomePageCards {
    height: auto; 
    width: 90%; 
  }
  .button {
    height: 40px;
    width: 80px;
  }

  .aboutUsSmallPage {
    height: auto; 
  }

  .aboutUsCards {
    height: auto; 
    width: 90%; 
  }

  .servicesSmallPage {
    height: auto; 
  }

  .servicesCards {
    height: auto; 
    width: 90%;
  }

  .contactPage {
    height: auto; 
  }

  .contactContent {
    width: 90%; 
  }

  .footer {
    height: auto; 
    width: 100%;
  }

  .cert--container img {
    height: 150px;
    width: 150px; 
  }
} */

